<nav id="block-menu-menu-social-media" role="navigation" class="block block--menu block--menu-menu-social-media">
    <ul class="menu"><li class="first leaf"><a href="http://si.edu/Connect/Facebook#SocialMedia" class="fa fa-facebook" target="_blank"><span class="menu-title">Facebook</span></a></li>
        <li class="leaf"><a href="http://si.edu/Connect/Flickr#SocialMedia" class="fa fa-flickr" target="_blank"><span class="menu-title">Flickr</span></a></li>
        <li class="leaf"><a href="http://si.edu/Connect/Instagram#SocialMedia" class="fa fa-instagram"><span class="menu-title">Instagram</span></a></li>
        <li class="leaf"><a href="http://si.edu/Connect/Twitter#SocialMedia" class="fa fa-twitter" target="_blank"><span class="menu-title">Twitter</span></a></li>
        <li class="last leaf"><a href="http://si.edu/Connect/YouTube#SocialMedia" class="fa fa-youtube"><span class="menu-title">YouTube</span></a></li>
    </ul>
</nav>