.si-tabs {
  @include clearfix;
  margin-bottom: em($vert-spacing-unit);
  .r-tabs-nav {
    @extend %reset-list;
  }
  &.r-tabs {
    .r-tabs-nav {
      display: none;
    }
    .r-tabs-accordion-title {
      display: block;
      .no-js & {
        display: none;
      }
    }
    .r-tabs-panel {
      display: none;
      .no-js & {
        display: block;
      }
    }
    .r-tabs-panel.r-tabs-state-active {
       display: block;
    }
    /* Disabled tab */
    .r-tabs-nav .r-tabs-state-disabled {
      @include opacity(0.5);
    }
  } // end r-tabs

  // Accordion Tabs
  .panel-heading,
  .r-tabs-accordion-title {
    font-family: $font-primary;
    margin: 0;
    a {
      background: $gray-lightest;
      border: 1px solid $gray-lighter;
      border-width: 1px 1px 0;
      display: block;
      color: $text-color;
      position: relative;
      font-weight: bold;
      font-size: em($font-size-h3);
      padding: em($vert-spacing-unit/2) em($horz-spacing-unit*.75);
      padding-left: em($horz-spacing-unit*1.5);
      &:before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        text-decoration: inherit;
        font-size: em($font-size-base);
        position: absolute;
        display: inline-block;
      }
      &:after {
        content:'';
      }
      &:hover {
        background: $gray-lightest;
      }
    }
  }
  .panel-heading a.collapsed:before,
  .r-tabs-accordion-title a:before {
      top: em(20px);
      left: em(7px);
      display: inline-block;
      content: "\f054";
      color: $text-color;
  }
  .r-tabs-accordion-title.r-tabs-state-active a,
  .panel-heading a.expanded {
    background: $blue;
    border: 1px solid $blue;
    border-width: 1px 1px 0;
    color: white;
    &:before {
      top: em(15px);
      left: em(7px);
      content: "\f078";
      color: white;
    }
  }
  &.accordion-tab .panel,
  &.menu-tab .tab-wrapper {
    border-bottom: 1px solid $gray-lightest;
    > .tab-pane {
      border: 1px solid $gray-lightest;
      border-width: 0 1px;
      padding: em($vert-spacing-unit) em($horz-spacing-unit);
    }
  }
  // End Accordion Tabs
  // Responsive Tabs
  &.responsive-tab {
    .r-tabs-nav {
      // default tab style
      .r-tabs-anchor {
        padding: em(11px) em($horz-spacing-unit) em($vert-spacing-unit/2);
        color: $gray-dark;
        border: 1px solid $gray-light;
        border-width: 1px 0 1px 1px;
        position: relative;
        background: $gray-lighter;
        top: em(2px);
        display: block;
      }
      .last .r-tabs-anchor {
        border-right-width: 1px;
      }
      // Active state tab anchor
      .r-tabs-state-active .r-tabs-anchor {
        background: white;
        padding: em($vert-spacing-unit/2) em($horz-spacing-unit);
        border-bottom: 1px transparent;
        color: $blue;
        @include rem(bottom, -1px);
        font-weight: bold;
      }
    } //end r-tabs-nav
    .tab-wrapper {
      border-bottom: 1px solid $gray-light;
      > .tab-pane {
        border: 1px solid $gray-light;
        border-width: 1px 1px 0px;
        padding: em($vert-spacing-unit) em($horz-spacing-unit);
      }
    }
  }  // End Responsive Tabs

  @include breakpoint($desk) {
    .tab-content-title {
      display: block;
    }
    &.r-tabs {
      .r-tabs-nav {
        display: block;
      }
      .r-tabs-accordion-title {
        display: none;
      }
      &.responsive-tab {
        .r-tabs-tab {
          display: block;
          float: left;
        }
      }
      &.menu-tab {
        > .r-tabs-nav {
          @include span(2);
          margin-bottom: em($vert-spacing-unit/2);
          .tab-title {
            font-size: em($font-size-h4);
          }
        }
        > .tab-wrapper {
          @include span(10 last);
          border: none;
          > .tab-pane {
            border: none;
            padding: 0;
          }
        }
      }
    }
  } //end breakpoint($desk)

} //end .si-tabs

.si-collapsible-block,
.si-tabs {
  .collapse {
    display: none;
    .no-js & {
      display: block;
    }
    &.in {
      display: block;
    }
    // [converter] extracted tr&.in to tr.collapse.in
    // [converter] extracted tbody&.in to tbody.collapse.in
  }

  tr.collapse.in    { display: table-row; }

  tbody.collapse.in { display: table-row-group; }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    @include transition-property(height, visibility);
    @include transition-duration(.35s);
    @include transition-timing-function(ease);
  }
  .fade {
    opacity: 0;
    @include transition(opacity .15s linear);
    &.in {
      opacity: 1;
    }
  }
}



div.horizontal-tabs {
  margin-top: em($vert-spacing-unit);
  border: none;
  ul.horizontal-tabs-list {
    background: none;
    border: none;
    display: block;
    margin-left: 2px;
    @include clearfix;
    li {
      background: none;
      border: none;
      padding: 0;
      display: block;
      a {
        display: block;
        padding: em(11px) em($horz-spacing-unit) em($vert-spacing-unit/2);
        color: $gray-dark;
        border: 1px solid $tan-dark;
        border-width: 1px 0 1px 1px;
        position: relative;
        background: $tan;
        top: em(1px);
        strong {
          font-weight: 400;
        }
      }
      &:last-child {
        a {
          border-right-width: 1px;
        }
      }
      &.selected {
        background: none;
        padding: 0;
        a {
          background: white;
          padding: em($vert-spacing-unit/2) em($horz-spacing-unit);
          border-bottom: 1px transparent;
          bottom: em(-1px);
          top: em(1px);
          &,
          strong {
            font-weight: bold;
            color: $blue;
          }
        }
      }
    }
  }
  fieldset.horizontal-tabs-pane {
    padding: em($vert-spacing-unit) em($horz-spacing-unit);
    border: 1px solid $tan-dark;
    border-width: 1px 1px 0;
  }
  border-bottom: 1px solid $tan-dark;
}
