//== Buttons
//

$btn-font-weight:                $fw-bold;

$btn-default-color:              #FFF;
$btn-bg-color:                 $gray-alt;
$btn-border:             lighten($gray-alt, 10);
$btn-hover:				$blue;