  
  <!--DO NOT REMOVE-->
  <script src="../../../../../../libraries/flexslider/jquery.flexslider-min.js?{{ cacheBuster }}"></script>
  <script src="../../js/script.js?{{ cacheBuster }}"></script>

  {{ patternLabFoot | raw }}
  
  </body>
</html>
