<div class="field field--name-field-addthis field--type-addthis field--label-hidden" tabindex="1000">
	<a class="addthis_button "><img src="https://s7.addthis.com/static/btn/sm-share-en.gif" alt="Share page with AddThis">
	</a>
</div>