@mixin font-icon($icon, $color: $text-color, $font-size: $font-size-base, $margin: $font-size, $top:0, $pos:0, $after: false) {
 position: relative;
 display: inline-block;

 @if $after {
 padding-right: em($margin);
  &:after {
    content: $icon;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: $color;
    position: absolute;
    font-size: em($font-size);
   top: em($top);
   right: em($pos);
   }
 }
 @else {
 padding-left: em($margin);
  &:before {
    content: $icon;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: $color;
    position: absolute;
    font-size: em($font-size);
   top: em($top);
   left: em($pos);
   }
 }

}
