<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #005780;"></span>
		<span class="sg-label">#005780</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007CB2;"></span>
		<span class="sg-label">#007CB2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #535BA3;"></span>
		<span class="sg-label">#535BA3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CB4D0B;"></span>
		<span class="sg-label">#CB4D0B</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #298732;"></span>
		<span class="sg-label">#298732</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #78070e;"></span>
		<span class="sg-label">#78070e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #BE1512;"></span>
		<span class="sg-label">#BE1512</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3b444c;"></span>
		<span class="sg-label">#3b444c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4F5A65;"></span>
		<span class="sg-label">#4F5A65</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #505a65;"></span>
		<span class="sg-label">#505a65</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #607883;"></span>
		<span class="sg-label">#607883</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #607883;"></span>
		<span class="sg-label">#607883</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D6DDE2;"></span>
		<span class="sg-label">#D6DDE2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F7F8F9;"></span>
		<span class="sg-label">#F7F8F9</span>
	</li>
</ul>