<div class="node-teaser--featured">

		<div class="b-thumb">
			{% include "base-slideshow" %}
		</div>
		<div class="b-text">
			<h2 class="b-title">{{ headline }}</h2>
			<p>{{ excerpt.medium }}</p>
			{% include base-button-more %}
		</div>

</div>