<div class="node-teaser--short">
    <a href="{{ url }}" class="b-inner">
		<div class="b-thumb">
			{% include "base-thumbnail" %}
		</div>
		<div class="b-text">
			<h3 class="b-title">{{ headline }}</h3>
		</div>
	</a>
</div>