<div class="node-teaser--extended">
    <a href="{{ url }}" class="b-inner">
		<div class="b-image-wrapper">
			{% include "base-thumbnail" %}
			<h3 class="b-title">{{ headline }}</h3>
		</div>
		<div class="b-text">
			<p>{{ excerpt }}</p>
		</div>
	</a>
</div>