<div class="node-teaser">
	<a href="{{ url }}" class="b-inner">
		{% include "base-thumbnail" %}
	</a>
	<div class="b-text">
		<h3 class="b-title"><a href="{{ url }}" class="b-inner">{{ headline }}</></h3>
		<p>{{ excerpt }}</p>
		{% include base-button-more %}
	</div>

</div>