<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="l-region l-region--footer l-container">
		<p class="logo-wrapper"><a class="si-logo" href="/"><span class="sr-only">Link to homepage</span></a></p>
        {% include "components-footer-nav" %}
        {% include "components-social-media" %}
	</div>
</footer>
<!-- End Footer -->