.flexslider {
  .caption {
    padding: em($space-and-half);
    padding-right: 1%;
    padding-left: 1%;
  }
  h3 {
    // line-height: $line-height-base*1.25/$font-size-h3;
    margin: 0;
    color: white;
  }
  p {
    color: white;
    font-size: em($font-size-h4);
    line-height:  $line-height-h4;
    &:last-child {
      margin: 0;
    }
  }
  .slides {
    .entity {
      position: relative;
    }
    .front & {
      margin: 0;
    }
  } //end slides
} //end flexslider

.flexslider-container.vertical {
  .flex-custom-nav {
    li {
      display: none;
   //   > div,
    //  > a {
        padding: em($space-and-half);
        padding-left: 14%;
        padding-right: 14%;
      //}
      &.flex-active {
          display: block;
          background: $gray-light;
          * {
            color: white;
          }
          a {
           @include link-colors(white, white, white, white, white);
          }
      }
    }
  }
}

.flexslider-container.horizontal {
  li {
    background: $gray;
    .page-hero & {
      background: none;
      .caption {
        position: absolute;
        top: 35%;
        left: 10%;
        width: 50%;
        @include text-shadow(rgba(black, 0.2) 1px 1px 2px);
        .slide-title {
          font-size: em($font-size-h2);
          line-height:  $line-height-h2;
          color: white;
          margin: 0 0 em($space-and-half/2, $font-size-h2);
        }
      }
    }
    // &:nth-child(n+1) {
    //   background: $gray;
    // }
    // &:nth-child(2n+0) {
    //   background: $purple;
    // }
    // &:nth-child(3n+0) {
    //   background: $green;
    // }
  }
}

@include breakpoint($desk) {
  .flexslider-container.vertical {
    .flexslider {
      float: left;
      width: 64%;
      background: none;
    }
    .flex-control-nav-container {
      position: absolute;
      width: 36%;
      right: 0;
      top: 0;
    }

    .flex-custom-nav {
      -webkit-transform: translate3d(0, 0, 0);
      @include transition(0.5s);
      li {
        #{headings()} {
          font-size: em($font-size-h4);
          line-height: $line-height-h4;
          font-weight: 500;
        }
        display: block;
        @include transition(all 0.5s ease 0s);
        padding: em($space-and-half/2) em($space);

        &.flex-active {
          &:nth-child(n+1),
          &:nth-child(2n+0),
          &:nth-child(3n+0) {
            *,
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}


